<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div id="appjs" class="container app ">
        <div class="row">
            <!-- intestazione sx -->
            <div  class="col-6 col-md-4 intestazione sx">
                <div class="row ">
                    <div class="col-sm-4 col-xs-4">
                        <img class="avatar" src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight&accessoriesType=Wayfarers&hairColor=Brown&facialHairType=MoustacheFancy&facialHairColor=Brown&clotheType=Overall&clotheColor=PastelRed&eyeType=Hearts&eyebrowType=UpDownNatural&mouthType=Concerned&skinColor=Light'/>
                        <span>Maria</span>
                    </div>
                    
                    <div class="col-sm-5 col-xs-5 "></div>
                    <div class="col-sm-1 col-xs-1">
                        <i class="fas fa-circle-notch"></i>
                    </div>
                    <div class="col-sm-1 col-xs-1">
                        <i class="far fa-comment-alt"></i>
                    </div>
                    <div class="col-sm-1 col-xs-1">
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                  </div>
               
            </div>
            <!-- intestazione dx -->
            <div class="col-md-8 intestazione">

                <div class="row ">
                    <div class="col-sm-1 col-xs-1 ">
                        
                        <img :src="contacts[activeChat].avatar" :alt="contacts[activeChat].name" class="avatar"/>
                        
                    </div>
                    <div class=" col-sm-4 col-xs-4 chat-attiva nome-sub">
                        <span> {{contacts[activeChat].name}} </span><br>
                        <span class="ultimo-accesso">ultimo accesso oggi alle 12:00</span>
                    </div>
                    <div class="col-sm-4 col-xs-4 "></div>
                    <div class="col-sm-1 col-xs-1">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="col-sm-1 col-xs-1">
                        <i class="fas fa-paperclip"></i>
                    </div>
                    <div class="col-sm-1 col-xs-1">
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                  </div>

                
            </div>
                

        </div>

        <div class="row ">
            <div  class="col-6 col-md-4">
                
                    <div class="row">
                        <div  class="col-md-6 col-md-12 notifiche" >
                           <div class="row">
                            <div class="col-sm-2 col-xs-2 ">
                                <i id="bell-notifica" class="fas fa-bell-slash"></i>
                               
                            </div>
                            <div class="col-sm-10 col-xs-10 ">
                                <h6>Ricevi notifiche di nuovi messaggi</h6>
                                <a href="#">Attiva notifiche desktop</a>
                            </div>
                           </div>
                            
                            
                        </div>
                            <!-- barra di ricerca -->
                        <div class="col-6 col-md-12 input-text">
                            <input  type="text" placeholder="Cerca o inizia una nuova chat">
                        </div>
                                <!-- contatti -->
                        <div class="col-6 col-md-12 contatti">
                            <ul>
                                <li v-for="(item, i) in contacts" :key="i" @click="selectChat(i)">
                                   
                                    <div class="row" >
                                        <div class="col-sm-2 col-xs-2 ">
                                            <img :src="item.avatar" :alt="item.name" class="avatar"/>
                                            
                                        </div>
                                        <div class=" col-sm-4 col-xs-4 chat-attiva nome-sub">
                                            <span> {{item.name}} </span><br>
                                            <span class="ultimo-accesso">ultimo messaggio inviato</span>
                                        </div>

                                        <div class=" col-sm-4 col-xs-4 "></div>
                                        <div class="col-sm-2 col-xs-2 ">
                                            <span class="ultimo-accesso">12:00</span>
                                        </div>
                                        
                                    </div>
                                    
                                    
                                   
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                
               
               
                
            </div>
            <!-- corpo centrale messaggi -->
            <div class="col-md-8 corpo-centrale ">
               
               <div v-for="item in contacts[activeChat].messages"  :key="i">
                <div  class="row message-body">
                    <div class="col-sm-12 message-main">
                      <div :class="inviatoORicevuto(item.status)" >
                        <div class="message-text">
                        {{item.message}}
                        </div>
                        <span class=" col-sm-1 offset-md-10 message-time">
                            12:00
                           </span>
                        
                      </div>
                    </div>
                  </div>

           
               
          
                  
              
                   
                  
                   
            </div>
            
           
            
           
            
            
            
                

        </div>
        <div class="col-6 col-md-4 vuoto"></div>
            

            <!-- fotter invio messaggi -->
                <div  class="col-6 col-md-8  footer-text ">
                   <div class="row">
                    <div class="col-sm-1 col-xs-1 ">
                        <i class="far fa-smile"></i>
                    </div>
                    <div class="col-sm-10 col-xs-10 ">
                        <input  type="text" placeholder="scrivi un messaggio" v-model="newMex" @keyup.enter="addMex">
                    </div>
                    <div class="col-sm-1 col-xs-1 ">
                        <i class="fas fa-microphone"></i>
                    </div>
                   </div>
                   
                   
                    
                </div>

        
    </div>

       
      
    


   
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
   
   
</body>
</html>

